
package pages

templ ErrorPage(status string, message string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Error - { status }</title>
		</head>
		<body>Error { status } - { message }</body>
	</html>
}
