package pages

import (
	"app/internal/templates/layouts"
	"app/internal/templates/partials"
)

templ HomePage(title string) {
	@layouts.MainLayout(title) {
		@partials.ContactForm()
	}
}
